/*NAVBAR*/ 
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1170px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: #333333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: #0077ff;
}


/*FILTER*/
.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.filter-form label {
  margin-right: 1rem;
}

.filter-form select {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.filter-form button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: #0062cc;
}

.cocktail-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  grid-auto-rows: minmax(100px, auto); /* Minimum row height of 100px */
  gap: 20px; /* Spacing between items */
}

.cocktail-grid li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  max-height: 100%;
}

.cocktail-grid li img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/*RANDOM*/
.RandomCocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.RandomCocktail h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.RandomCocktail img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.RandomCocktail p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.RandomCocktail ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.RandomCocktail li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* SEARCHBAR */
.SearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.SearchBar-select {
  margin-left: 10px;
}

.SearchBar-input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 200px;
  height: 30px;
  margin-right: 10px;
}

.SearchBar-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


/*SEARCH RESULTS*/
.CocktailDetails-img {
  /* styles for the cocktail image */
  max-width: 100%;
  height: auto;
}

.CocktailDetails-ingredients {
  /* styles for the list of cocktail ingredients */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.CocktailDetails-ingredients li {
  /* styles for each cocktail ingredient */
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.IngredientDetailsID {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.IngredientDetailsID h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.IngredientDetailsID img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.IngredientDetailsID p {
  font-size: 16px;
  margin-bottom: 20px;
}

.IngredientDetailsID ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.IngredientDetailsID li {
  font-size: 14px;
  margin-bottom: 10px;
}




